{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">About Who Is Your Favorite Walker</h1>
        <p class="lead text-center">Discover, discuss, and share your favorite walkers from The Walking Dead.</p>
        
        <div class="row mt-5">
            <div class="col-md-12">
                <p>Welcome to "Who Is Your Favorite Walker," the ultimate fan site dedicated to the most iconic walkers from The Walking Dead series. This site allows fans like you to explore a curated list of the most memorable Walkers from the show and even contribute by submitting your own favorites.</p>
                <p>Our mission is to celebrate the creativity and impact of the undead in The Walking Dead universe. Whether it's a particularly gruesome walker or one with a unique backstory, this is the place to share and discover them all.</p>
                <p>We hope you enjoy exploring the site and adding your own contributions to the ever-growing list of The Walking Dead Walkers.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <img src="images/zombie.png" alt="zombie" class="img-fluid mb-3">
            </div>
            <div class="col-md-4 text-center">
                <img src="images/axe.png" alt="axe" class="img-fluid mb-3" style="max-width: 150px; padding-top: 40%;">
            </div>
            <div class="col-md-4">
                <img src="images/flee.png" alt="flee" class="img-fluid mb-3">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.style.backgroundImage = "url('{{ asset('images/background2.webp') }}')";
            document.body.style.backgroundSize = "cover";
            document.body.style.backgroundRepeat = "no-repeat";
            document.body.style.backgroundAttachment = "fixed";
            document.body.style.backgroundPosition = "center center";
            document.body.style.color = "black";
        });
    </script>
{% endblock %}