{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center" style="color: #B22222;">Welcome to Who Is Your Favorite Zombie!</h1>
        <p class="lead text-center">A fan site dedicated to the most iconic zombies from The Walking Dead.</p>
        <p class="text-center">Browse through our collection or add your favorite zombie from the show.</p>
        <div class="text-center mt-4">
            <a href="{{ path('zlistpage') }}" class="btn btn-darkdanger">Explore Zombies</a>
            <a href="{{ path('zformpage') }}" class="btn btn-darkdanger">Submit Your Favorite</a>
        </div>
    </div>
{% endblock %}