<footer class="footer mt-4 py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-3 footer-text">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ path('homepage') }}" style="color: #FF4500;">Home</a></li>
                    <li><a href="{{ path('aboutpage') }}" style="color: #FF4500;">About</a></li>
                    <li><a href="{{ path('zlistpage') }}" style="color: #FF4500;">Wall of the Dead</a></li>
                    <li><a href="{{ path('zformpage') }}" style="color: #FF4500;">Add your Walker</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 footer-text">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: #FF4500;"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#" style="color: #FF4500;"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" style="color: #FF4500;"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 footer-text">
                <h5>About This Site</h5>
                <p>This site is dedicated to fans of The Walking Dead, allowing them to share and explore their favorite walkers.</p>
            </div>
        </div>
        <hr style="border-top: 1px solid #FF4500;">
        <p class="mb-0">© 2024 Who Is Your Favorite Walker? Licensed under the MIT License.</p>
    </div>
</footer>